@import "tailwindcss";

:root {
  --background: #ffffff !important;
  --foreground: #171717 !important;
  color-scheme: light !important;
}

body {
  background-color: #ffffff !important;
  color: #171717 !important;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}
